body {
	font-family: roboto-slab-light;
	background: #ffffff ;
	color: #000000 ;
	font-size: 22px ;
}

main {
	max-width: 800px ;
	margin: auto ;
}

ul {
	text-align: center ;
	list-style-type: none ;
}


a:link {
	color: #ff2765 ;
}

a:visited {
	color: #a019ff ;
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

.roboto-slab-light {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
