body {
	/* font-family: "Roboto Mono"; */
	font-family: "Crimson Text" ;
	background: #ffffff ;
	color: #000000 ;
	font-size: 20px ;
}

main {
	max-width: 700px ;
	margin: auto ;
}

ul {
	text-align: center ;
	list-style-type: none ;
}

code {
	/* background: #e7e7e7 ; */
	/* color: #ff2a59 ; */
	border-radius: 5px ;
	/* font-family: "Roboto Mono" ; */
	font-weight: 500 ;
	font-size: 14px ;
	padding-left: 5px ;
	padding-right: 5px ;
	padding-top: 1px ;
	padding-bottom: 1px ;
}

aside {
	text-align: center ;
	font-size: 10px ;
}


a:link {
	/* color: #5a6ded ; */
	color: #4169e1 ; /* royal blue */
}

a:visited {
	/* color: #a019ff ; */
	color: #6495ed ; /* corn flower blue */
}

img {
	max-width: 100% ;
}

header h1 {
	text-align: center ;
}

footer {
	text-align: center ;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
